extends layout

block content
  h1 #{meeting.place}

  p #[strong Book: ]
    a(href=meeting.book.url) #{meeting.book.title}
  p #[strong date: ] #{meeting.date_formatted}
  p #[strong time: ] #{meeting.time}

  hr
  p #[strong members: ] 

  each val in member
      a(href=val.url) #{val.name} 

  else
      p There are no members in the meeting.

